
<div id="overlay">
  <!-- an empty div to apply a layer of semi-transparency over background images -->
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="title">Eat Da Burger!</h1>
    </div>
  </div>
  <div class="form row">
    <h2 id="customerName">And you are?</h2>
      <div class="col-lg-5 col-lg-offset-3 col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-3 col-xs-10 col-xs-offset-1">
     
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Customer list <span class="caret"></span></button>
           <ul id="customerList" class="dropdown-menu">
             </ul>   
        </div><!-- /btn-group -->
        <input id="nameInput" type="text" class="form-control" aria-label="Enter your name" placeholder="Not listed? Enter your name"> <button id="nameSubmit" type="submit" class="btn btn-default">Submit name</button>  
     </div> <!-- end col-lg-5 -->
  </div> <!-- end form row -->

      <!-- add a burger form -->
  <div id="burgerForm" class="form row">
    <div class="col-lg-5 col-lg-offset-3 col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="form-group">
          <input id="burgerInput" type="text" id="newBurger" name="name">
        </div>
        <button id="burgerSubmit" type="submit" class="btn btn-default">Submit burger</button> 
    <p>Enter a burger you want to eat. Click the "submit" button.</p>
  </div>
</div>

<!-- modal window for errors -->
<div id="erroModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Oops!</h4>
      </div>
      <div class="modal-body">
        <p>You must select or enter a customer name before you can start horking down burgers. Slow your roll!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript" src="./../assets/scripts/burger.js"></script>