body {
  background-image: url(../img/burger.png);
  background-position: right;
}
.burgerToEat {
  text-align: center;
  font-weight: bold;
  float: left;
 }
.burgerDevoured {
  text-align: center;
  color: #444;
  font-weight: bold;
  float: left;
}
.title {
  color: red;
  text-align: center;
}
#overlay {
  position:fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: .75;
  width: 100%;
  height: 100%;
}
.burgerName {
  margin: 0 20px 0 0;
}

.form {
  text-align: center;
  margin: 40px 0 0 0;
}
#customerName {
  color: #000;
}
